@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital@1&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.box {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 9px;
  background: transparent;
}
.box:hover {
  background-color: rgba(128, 128, 128, 0.137);
}
nav {
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 100vw;
  margin: auto;
  /* background-color: aqua; */
}
#nav-middle-top {
  /* background-color: blue; */
  box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.537);
  border-radius: 10px;
  padding: 5px;
}
.middle-box {
  border: none;
  margin-inline: 3px;
  position: relative;
  /* background-color: blue; */
}
#triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 18px;
}

.middle-box > span {
  font-size: 10px;
  color: rgba(128, 128, 128, 0.537);
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.vertical-line {
  height: 25px;
  width: 1px;
  margin-inline: 3px;
  background-color: rgba(128, 128, 128, 0.537);
}

#nav-right-profile {
  background-color: rgb(108, 108, 212);
  margin-right: 10px;
}
#nav-right-profile:hover {
  background-color: rgb(99, 99, 193);
}
#nav-right-profile svg {
  color: white;
}
#nav-right-library {
  height: 36px;
  width: 87px;
  background: transparent;
  border-radius: 9px;
}
#nav-right-library:hover {
  background-color: rgba(128, 128, 128, 0.137);
}
#nav-right-library > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
#nav-right-library > div > svg {
  height: 50%;
  width: 50%;
  /* background-color: blue; */
}
#nav-right-library > p {
  font-size: 13px;
  margin-top: 15px;
  margin-right: 5px;
  font-weight: 100;
}

/* Main */

main {
  font-family: "Epilogue", sans-serif;
  position: absolute;
  width: 98vw;
  height: 45vw;
  margin: auto;
  /* background-color: antiquewhite; */
}
main > div {
  padding-top: 60px;
}
#logo {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(108, 108, 212);
}
#logo > svg {
  height: 100%;
  width: 100%;
}
main > div > div > h1 {
  color: rgb(6, 6, 133);
  font-weight: 900;
  margin-left: 10px;
}
main > div > p {
  color: rgba(128, 128, 128, 0.559);
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}
#menu > button {
  border: none;
  background: transparent;
  width: 300px;
  /* background-color: blue; */
  color: rgba(128, 128, 128, 0.744);
  position: relative;
  margin-top: 5px;
  padding: 10px;
}
#menu > button:hover {
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 10px;
  .menu-button-word {
    color: black;
  }
}
.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon > svg {
  width: 100%;
  height: 100%;
}
#menu > button > span {
  position: absolute;
  right: 10px;
  /* background-color: red; */
}
.menu-button-word {
  margin-inline: 10px;
}

/* Sidebar */

sidebar {
  position: absolute;
  /* height: 100px; */
  /* background-color: tomato; */
  top: 200px;
  left: 10px;
  box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.537);
  border-radius: 10px;
  padding: 5px;
  display: none;
}
.display {
  display: flex;
  flex-direction: column;
}
sidebar > input {
  margin-bottom: 10px;
}
sidebar > label {
  margin-bottom: 5px;
  font-size: 13px;
  color: rgb(103, 102, 102);
}
#width-selector {
  padding: 5px;
  border: solid 1px black;
  border-radius: 10px;
}
sidebar > button {
  border: none;
  background: transparent;
}
/* Footer */

#comp-1-left {
  position: fixed;
  left: 16px;
  bottom: 16px;
  border-radius: 9px 0px 0px 9px;
}
#comp-1-middle {
  height: 36px;
  width: 60px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: transparent;
  position: fixed;
  left: 51px;
  bottom: 16px;
}
#comp-1-right {
  position: fixed;
  left: 111px;
  bottom: 16px;
  border-radius: 0px 9px 9px 0px;
}
#undo {
  position: fixed;
  left: 159px;
  bottom: 16px;
  border-radius: 9px 0px 0px 9px;
}
#redo {
  position: fixed;
  left: 194px;
  bottom: 16px;
  border-radius: 0px 9px 9px 0px;
}
#comp-3 {
  position: fixed;
  right: 65px;
  bottom: 16px;
  padding: 8px;
  border: none;
  color: rgb(108, 108, 212);
}
#comp-3:hover {
  background: transparent;
}
#comp-4 {
  position: fixed;
  right: 16px;
  bottom: 16px;
  border: none;
}

/* #canvas{
  background-color: blueviolet;
} */

.button-active {
  background-color: rgb(188, 188, 249);
  border-radius: 4px;
}

@media screen and (max-width: 900px) {
  #main {
    display: none !important;
  }
}

@media screen and (max-width: 550px) {
  #nav-right {
    display: none !important;
  }
}

@media screen and (max-width: 400px) {
  #comp-1 {
    display: none !important;
  }
  #nav-left {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
  #comp-3 {
    display: none;
  }
  #comp-4 {
    display: none;
  }
  #undo {
    left: 16px;
  }
  #redo {
    left: 51px;
  }
  #nav-middle-top {
    display: flex;
    flex-wrap: wrap;
  }
  .vertical-line {
    display: none;
  }
  sidebar {
    /* height: 100px; */
    /* background-color: tomato; */
    top: 450px;
    bottom: 16px;
    left: 100px;
    padding: 0px;
  }
  sidebar > input {
    margin-bottom: 0px;
  }
  sidebar > label {
    margin-bottom: 0px;
    font-size: 13px;
  }
  #width-selector {
    padding: 0px;
  }
}
