@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital@1&display=swap");

.box {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 9px;
  background: transparent;
}
.box:hover {
  background-color: rgba(128, 128, 128, 0.137);
}
nav {
  padding: 16px;
}
#nav-left {
  position: absolute;
  left: 16px;
  top: 16px;
}
#nav-middle-top {
  /* background-color: blue; */
  box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.537);
  border-radius: 10px;
  padding: 5px;
}
.middle-box {
  border: none;
  margin-inline: 3px;
  /* background-color: blue; */
}
/* .middle-box>span{
    font-size: 5px;
    position: relative;
    bottom:0px;
    right: 0px;
} */
.vertical-line {
  height: 25px;
  width: 1px;
  margin-inline: 3px;
  background-color: rgba(128, 128, 128, 0.537);
}
#nav-middle-bottom {
  margin-top: 10px;
}
#nav-middle-bottom > p {
  font-size: 11px;
  color: rgba(128, 128, 128, 0.537);
  font-weight: 500;
}
#nav-right-profile {
  position: absolute;
  right: 113px;
  top: 16px;
  background-color: rgb(108, 108, 212);
}
#nav-right-profile:hover {
  background-color: rgb(99, 99, 193);
}
#nav-right-profile svg {
  color: white;
}
#nav-right-library {
  height: 36px;
  width: 87px;
  position: absolute;
  right: 16px;
  top: 16px;
  background: transparent;
  border-radius: 9px;
}
#nav-right-library:hover {
  background-color: rgba(128, 128, 128, 0.137);
}
#nav-right-library > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
#nav-right-library > div > svg {
  height: 50%;
  width: 50%;
  /* background-color: blue; */
}
#nav-right-library > p {
  font-size: 13px;
  margin-top: 15px;
  margin-right: 5px;
  font-weight: 100;
}

/* Main */

main {
  font-family: "Epilogue", sans-serif;
}
main > div {
  padding-top: 60px;
}
#logo {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(108, 108, 212);
}
#logo > svg {
  height: 100%;
  width: 100%;
}
main > div > div > h1 {
  color: rgb(6, 6, 133);
  font-weight: 900;
  margin-left: 10px;
}
main > div > p {
  color: rgba(128, 128, 128, 0.559);
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}
#menu > button {
  border: none;
  background: transparent;
  width: 300px;
  /* background-color: blue; */
  color: rgba(128, 128, 128, 0.744);
  position: relative;
  margin-top: 5px;
  padding: 10px;
}
#menu > button:hover {
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 10px;
  .menu-button-word {
    color: black;
  }
}
.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon > svg {
  width: 100%;
  height: 100%;
}
#menu > button > span {
  position: absolute;
  right: 10px;
  /* background-color: red; */
}
.menu-button-word {
  margin-inline: 10px;
}

/* Footer */

#comp-1-left {
  position: fixed;
  left: 16px;
  bottom: 16px;
  border-radius: 9px 0px 0px 9px;
}
#comp-1-middle {
  height: 36px;
  width: 60px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: transparent;
  position: fixed;
  left: 51px;
  bottom: 16px;
}
#comp-1-right {
  position: fixed;
  left: 111px;
  bottom: 16px;
  border-radius: 0px 9px 9px 0px;
}
#comp-2-left {
  position: fixed;
  left: 159px;
  bottom: 16px;
  border-radius: 9px 0px 0px 9px;
}
#comp-2-right {
  position: fixed;
  left: 194px;
  bottom: 16px;
  border-radius: 0px 9px 9px 0px;
}
#comp-3 {
  position: fixed;
  right: 65px;
  bottom: 16px;
  padding: 8px;
  border: none;
  color:rgb(108, 108, 212);;
}
#comp-3:hover{
    background :transparent;
}
#comp-4 {
  position: fixed;
  right: 16px;
  bottom: 16px;
  border: none;
}
